/node_modules
/public/hot
/vendor
/public/storage
/public/storage/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.idea/*
/**/.idea/*
/.idea/
__
/__/
/config/database.php
/public/anketa/re-anketa/config/
